<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button color = "primary"
    (click) = "consulta()">
    Consultar Datos
  </ion-button>

  <ion-list>
    <ion-list-header text-center color = "primary">
      <ion-label text-center> </ion-label>
    <ion-label text-center>Nombre</ion-label>
    <ion-label text-center> </ion-label>
    <ion-label text-center>Email</ion-label>
    <ion-label text-center> </ion-label>
    <ion-label text-center>Teléfono</ion-label>
    <ion-label text-center> </ion-label>
  </ion-list-header>
  <ion-item *ngFor="let item of data">
    <ion-label text-center> {{item.name}} </ion-label>
    <ion-label text-center>{{item.mass}}</ion-label>
    <ion-label text-center>{{item.gender}}</ion-label>
  </ion-item>
</ion-list>



</ion-content>
